.contents__side
  .contents__side__header
    .side__header__box
      %p.side__header__box__name
        name
      .side__header__box__btn
        = link_to "#", class: "side__header__box__btn__edit" do
          =fa_icon 'edit'
        = link_to "#", class: "side__header__box__btn__cog" do
          =fa_icon 'cog'       
  .contents__side__groups
    .side__group
      %p.side__group__name
        island
      %p.side__group__message
        まだメッセージがありません